body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("images/six.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("images/seven.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("images/nine.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}

.navigation {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  background-color: rgb(34, 32, 30);
}

.navigation > div {
  background-color: #f1f1f1;
  width: 25%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.navigation a {
  text-decoration: none;
  color: rgb(34, 32, 30);
}

#about, #services, #contact {
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

.services, .contact{
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
}

.services > div {
  background-color: #f1f1f1;
  width: 25%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.contact > div {
  background-color: #f1f1f1;
  width: 50%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

@media (max-width: 650px){
  .navigation > div {
  font-size: 15px;
}

.services > div {
  background-color: #f1f1f1;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
  .contact, .services {
    display: flex;
    flex-direction: column;
  }

  .contact > div {
  background-color: #f1f1f1;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
 .contact iframe{
   width: 300px;
   height: 200px;
 }

 .contact svg {
   height: 100px;
   width: 100px;
 }
}


